Checks: >-
    -*,bugprone-*,cppcoreguidelines-*,clang-analyzer-*,hicpp-*,misc-*,
    modernize-*,mpi-*,performance-*,portability-*,readability-*,
    -hicpp-no-array-decay,-misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -clang-analyzer-alpha.clone.CloneChecker,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -clang-analyzer-alpha.deadcode.UnreachableCode,
    -cppcoreguidelines-pro-type-vararg,-modernize-use-emplace,-cert-err60-cpp,
    -hicpp-braces-around-statements,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-special-member-functions,
    -hicpp-special-member-functions,
    -readability-braces-around-statements,
    -cppcoreguidelines-pro-type-member-init,
    -hicpp-member-init,
    -readability-implicit-bool-conversion,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -hicpp-uppercase-literal-suffix,
    -readability-uppercase-literal-suffix,
    -misc-unused-parameters,
    -cppcoreguidelines-macro-usage,
    -hicpp-explicit-conversions,
    -cppcoreguidelines-owning-memory,
    -hicpp-signed-bitwise,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -readability-isolate-declaration,
    -readability-inconsistent-declaration-parameter-name,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-c-arrays,
    -hicpp-avoid-c-arrays,
    -modernize-avoid-c-arrays,
    -bugprone-macro-parentheses,
    -modernize-loop-convert,
    -cppcoreguidelines-pro-type-union-access,
    -portability-simd-intrinsics,
    -modernize-use-nodiscard,

